.label {
  height: 45px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input {
  height: 100%;
  outline: 0;
  border: 0;
  border-radius: var(--space-1);
  box-shadow: 0 2px 6px var(--elements-shadow);
  padding: 0 var(--space-5);
  background-color: var(--input-bg);
  color: var(--text-color);
  font-size: var(--fs-sm);

  &-with-icon {
    padding-left: var(--space-9);
  }

  &::placeholder {
    color: var(--text-color);
    opacity: 0.6;
  }

  &-icon {
    position: absolute;
    left: var(--space-4);
    color: var(--icon-color);
  }
}
