.lds-dual-ring {
  --size: 80px;
  display: block;
  width: var(--size);
  height: var(--size);
  margin: var(--space-5) auto;
}
.lds-dual-ring:after {
  content: ' ';
  display: block;
  width: calc(var(--size) * 0.8);
  height: calc(var(--size) * 0.8);
  margin: calc(var(--size) * 0.1);
  border-radius: 50%;
  border: calc(var(--size) * 0.08) solid var(--text-color);
  border-color: var(--text-color) transparent var(--text-color) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
