@import '../../../styles/theme.scss';

.button {
  outline: 0;
  border: 0;
  border-radius: var(--space-1);
  box-shadow: 0 2px 6px var(--elements-shadow);
  background-color: var(--input-bg);
  color: var(--text-color);
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;

  &-icon {
    position: absolute;
    color: var(--icon-color);
  }

  &-md {
    padding: var(--space-2) var(--space-6);
    font-size: var(--fs-md);

    @media only screen and (max-width: $bp-sm) {
      font-size: var(--fs-sm);
    }

    & > .button-icon {
      font-size: var(--fs-2xl);
      left: var(--space-6);

      @media only screen and (max-width: $bp-sm) {
        font-size: var(--fs-xl);
      }
    }

    &.button-with-icon {
      padding-left: var(--space-10);
    }
  }

  &-sm {
    padding: var(--space-1) var(--space-4);
    font-size: var(--fs-sm);

    & > .button-icon {
      font-size: var(--fs-xl);
      left: var(--space-4);
    }

    &.button-with-icon {
      padding-left: var(--space-8);
    }
  }

  &:hover {
    box-shadow: 2px 4px 10px var(--elements-shadow);
  }
}
